*,*::before,*::after{
margin: 0;
padding: 0;
}
html,body{
    box-sizing: border-box;
}
body{
    max-width: 90%;
    margin: 2em auto;
}
header{
    display: flex;
    justify-content: space-around;
}
ul{
    list-style: none;
}
ul>li{
    display: inline;
    padding: 0 .4em;
}
a{
    text-decoration: none;
}
a:active{
    background-color: green;
}
header,article,aside,footer{
    margin:3em 0;
}
section{
    margin-bottom: 1em;
}
h2,h3{
    text-align: center;
}
footer{
    text-align: center;
    padding: 2em 0;
}
.about_image {
    width: 600px;
    height: 500px;
    margin: 0px 0px 0px 0px;
}
.homepage{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.homepage > div{
    margin-top: 70px;
    margin-left: 20px;
    line-height: 1.5em;
    margin-right: 7px;
    font-size: 15pt;
    clear:both;
    text-align: right;
}
.homepage > div > p {
    padding-top: 30px;
}
.homepage > div > h2, h3{
    color: olivedrab;
    font-size: 30pt;
}
/*fully start product design */

.firsthover > ul{
    display: none;
}
.firsthover:hover > ul{
    display:inline-flex;
    flex-direction: column;
    color: olive;
    background-color: blanchedalmond;
    width: 70px;
   
}
.firsthover:hover > ul > li{
    border-bottom: 1px solid black;
    font-size: 12px;
    
}
 article > .product_edit{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 5px;
    column-gap: 10px;
   flex-wrap: wrap;

}

figure > img{
    width: 320px;
    height: 320px;
    border-radius: 5px;
    box-shadow: 0px 3px 4px 3px darkgray;
}
